@charset "UTF-8";

/* body全体のmargin/paddingをリセットする為の設定*/
body{
  margin:0;
  padding:0;
}

/* typeがnumberのinputを右寄せに設定*/
inpuy[type="number"]{
  text-align:right;
 }
 
 /* headerをflexboxコンテナに設定*/
 header{
   display:flex;
   background:green;
   color:white;
   height:70px;
 }
 header h1{
   margin: 0;
   margin-left:20px;
 }
 header div{
   margin-left:auto;
   margin-right:20px;
   margin-top:10px;
   text-align:right;
 }
 
/* ユーザー名とパスワードのinput幅設定*/
input[name=userName]{
  width: 100px;
}
input[name=password]{
  width: 100px;
}
/* tableのデフォルトデザイン設定*/
table {
  margin: 20px;
  border-collapse: collapse;
}
/* table内のtd,thの枠線設定*/
table td,table th{
  border:1px solid grey;
}
/*thを背景色：緑、文字色：白で設定*/
th{
   background-color: green;
   color:white;;
}
/* thないの子要素達について、それぞれの幅を設定*/
th:nth-child(1){
  width: 30px;
}
th:nth-child(2){
  width:150px;
}
th:nth-child(3){
  width:120px;
}
th:nth-child(4){
  width:60px;
}
th:nth-child(5){
  width:120px;
}
/* tdにあるinput幅とテキスト右寄せ設定*/
td input{
  width: 85%;
  text-align:right;
  }
/* カートテーブル、履歴テーブルのthに対してデザインを設定*/
table#cart thead tr th, table#history thead tr th{
  background:#c0c0c0 !important;
  color:black;
}
/* 履歴テーブルのtheadないのtr,thの子要素に対してデザイン設定*/
table#history thead tr th:nth-child(1){
  width:150px;
}
table#history thead tr th:nth-child(2){
  width:65px;
}
table#history thead tr th:nth-child(3){
  width:250px;
}
/* 履歴テーブルのtbodyないのtr,thの子要素に対してデザイン設定*/
table#history tbody tr th:nth-child(1){
  padding:0 5px;
  text-align:left;
}
table#history tbody tr th:nth-child(2){
  padding:0 5px;
  text-align:right;
}
table#history tbody tr th:nth-child(3){
  padding:0 5px;
  text-align:left;
}
/* 管理者用　商品登録ページのデザイン*/
#adminPage{
  margin:0 30px;
}
/*管理者用　商品テーブルのthead内のtr,thの子要素に対してデザイン設定 */
table#admin Table thead tr th:nth-child(1){
  width:50px;
}
table#admin Table thead tr th:nth-child(2){
  width:150px;
}
table#admin Table thead tr th:nth-child(3){
  width:100px;
}
table#admin Table thead tr th:nth-child(4){
  width:80px;
}
/*管理者用　商品テーブルのtbody内のtr,thの子要素に対してデザイン設定 */
table#admin Table tbody tr th:nth-child(1){
  padding:0 5px;
  text-align:right;
}
table#admin Table tbody tr th:nth-child(2){
  padding:0 5px;
  text-align:left;
}
table#admin Table tbody tr th:nth-child(3){
  padding:0 5px;
  text-align:right;
}
table#admin Table tbody tr th:nth-child(4){
  text-align:center;
}
/* エラーメッセージの文字色*/
.error{
  color:red;
}


 